@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

header{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    height: 110px;
    font-family:"Indie Flower", serif;
    background-color: #301c0f;
    color: #986b8b;
    width:100%
}

#logo_link{
    display: flex;
    justify-content: space-around;
}
nav a{
    color: #986b8b;
    font-size: 20px;
}
nav a:hover{
    color: #301c0f;
    background-color: #986b8b;
    border-radius: 10px;
}
header h1{
    grid-column: 2/3;
    text-align: center;
}
#logo_link img{
width: 100px;
height: 100px;
grid-column: 1/2;
padding:5px;
justify-content: left;
}
header nav{
    grid-column: 3/4;
    display: flex;
    justify-content: space-around;
    padding:35px
}
#hero{
    font-size: 40px;
}
h1{
    font-family: "Indie Flower", serif;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  1fr 250px 250px 300px;
    justify-self: center;
    align-self: center;
}
.home-grid>*{
    justify-self: center;
    align-self: center;
}
.blep img{
    grid-column: 1/2;
    grid-row: 1/3;
    border: solid 5px #3F826D ; 
    margin: 10px; 
}
.info{
    grid-column: 2/4;
    grid-row: 1/2;
    padding: 10px;
    font-size:30px;
    font-family: "Josefin Sans", sans-serif;
    color: #301c0f;
}
.pages {
    grid-column: 3/4;
    grid-row: 2/4;
    place-items: center; 
    margin: 10px; 
}
.pages img{
    border: solid 5px #3F826D;
}
.pages-info{
    grid-column: 1/3;
    grid-row: 3/4;
    padding: 10px;
    font-size: 30px;
    font-family: "josefin Sans", sans-serif;
    color: #301c0f;
}
.links{
    grid-column:1/3 ;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: repeat(2, 1fr)

    
}
.bio{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    flex-direction: column;
}
.bio img{
    height: 200px;
    justify-self: center;
    align-self: center;
    border: solid 5px #3F826D ; 
    margin: 10px; 
    display: block;
}
.shenanigans{
   justify-self: center;
   align-self: center;
   text-align: center;
}
.shenanigans img{
    height: 200px;
    justify-self: center;
    align-self: center; 
    border: solid 5px #3F826D ; 
    margin: 10px; 
    display: block;
}
.links>*{
    display: block;
    justify-self: center;
    align-self: center;
}
.links a{
    font-family:"Indie Flower", serif ;
    color: #301c0f;
    font-size: 20px;
}
.links a:hover{
    background-color: #301c0f;
    color: #986b8b;
    border-radius: 10px;
}
footer{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    justify-content: space-around;
    background-color: #301c0f;
    color: #3F826D;
}
footer>*{
    display: block;
    justify-self: center;
    align-self: center;
    color: #986b8b;
    font-family: "Josefin Sans";
}
footer a{
    color: #986b8b;
    font-size: 20px;
    font-family: "Josefin Sans";
}
footer a:hover{
    color: #301c0f;
    background-color: #986b8b;
    border-radius: 10px;
}
/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  .bio-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    }
    .bio-hero{
        font-size: 40px;  
    }
    .hard-start{
        grid-column: 1/2;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;

    }
    .bucky-fam{
        grid-column: 2/3;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
    }
    .bio-grid img{
        border: solid 5px #3F826D ; 
        margin: 10px;   
    }
    .bio-grid h2{
        font-size: 35px;
        font-family: "Indie Flower";
        color: #301c0f;
        margin: 10px;
    }
    .bio-grid p{
        font-size: 30px;
        font-family: "josefin Sans", sans-serif;
        color: #301c0f ;
        margin: 10px;
    }
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
@media only screen and (max-width: 900px){
.home-grid{
    display: block;
    height: auto;
}
.bio-grid{
    display: block;
    height: auto;
}
header{
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-around;
}

#logo_link{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
nav a{
    color: #986b8b;
    font-size: 20px;
}
nav a:hover{
    color: #301c0f;
    background-color: #986b8b;
    border-radius: 10px;
}
header h1{
    grid-column: 2/3;
    text-align: center;
}
#logo_link img{
padding:5px;
justify-content:center;
align-self: center;
}
header nav{
    grid-column: 3/4;
    display: flex;
    justify-content: space-around;
    padding:35px
}
.bio-hero{
    padding-top: 10px;
}
nav{
   
    flex-direction: column;
}
 footer {
    display: flex;
    flex-direction: column;
    height:auto
}
.links{
    display: flex;
    flex-direction: column;
}
.modal-content {
    width: 100%;
  }
}